polkit.addRule(function(action, subject) {
    if (action.id == "org.koompi.os.maintenance.pkexec.run" &&
        subject.isInGroup("wheel")) {
        return polkit.Result.YES;
    }
});
